* {
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
    font-size: 62.5%;
}
body {
    background-color: blanchedalmond;
}
                                      /*Header*/
header {
    max-width: 100vw;
    border-bottom: 0.1rem solid salmon;
    margin: 0 4rem;
    grid-auto-rows: 55rem;
}

p {
    font-size: 1.8rem;
}
button {
    cursor: pointer;
    font-size: 1.8rem;
    border: 0.1rem double salmon;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    background-color: salmon;
    color: white;
    
}
button:hover {  
    font-size: 1.8rem;
    border: 0.1rem solid salmon;
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    background-color: white;
    color: salmon;
    box-shadow: 0.2rem 0.2rem 0.2rem 0rem salmon;
}
.title1 {
    font-size: 4.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: salmon;
}
.hero {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(30rem, 2fr) 3fr;
    grid-auto-rows: 40rem;
}
.logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.info {
    justify-content: center;
    align-self: center;
    padding-left: 5rem;
}

                                       /*Main*/
footer {
    margin-bottom: 10rem;
}
.main-container {
    margin: 4rem 4rem 0 4rem;
    border-bottom: 0.1rem solid salmon;
    padding-bottom: 4rem;
}
.title2 {
    display: grid;
    text-align: center;
    color: salmon;
    font-size: 4rem;
    margin-bottom: 4rem;
}
.foods {   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.5rem, 25rem));
    grid-auto-rows: 1fr;
    gap: 2.5rem;
    justify-content: center;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: contain; /*escala todas las imágenes a su contenedor para que no se corten*/
    object-position: center; /*Pone los objetos al centro del contenedor*/
    transition: border 0.5s ease, background-color 0.5s ease;
}
.main-image {
    grid-area: 1 / 1 / 3 / 3;
}
.image:hover {
    border: 0.2rem solid salmon;
    border-radius: 50%;
    cursor: pointer;
    background-color: salmon;
    transition: border 0.5s ease, background-color 0.5s ease; 
}

                                        /*Footer*/

.title3 {
    font-size: 4rem;
    color: salmon;
    font-weight: bolder;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.drinks-grid {
    display: grid;
    gap: 2.5rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 15rem);
}
.drinks {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: 2.5rem;
    justify-content: center;
}

.image2 {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: center;
    transition: border 0.5s ease, background-color 0.5s ease;
}
.image2:hover {
    border: 0.2rem solid salmon;
    border-radius: 1.5rem;
    cursor: pointer;
    background-color: salmon; /* Cambio de color al pasar el ratón */
    transition: border 0.5s ease, background-color 0.5s ease; 
}

@media screen and (max-width: 768px) {
    .hero {
        grid-template-columns: minmax(30rem, 50rem);
        justify-content: center;

    }
    .logo-image {
        display: none;
    }
    .foods {
        grid-template-columns: 1fr;
    }
    .image {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }
    .main-image {
        grid-area: auto;
    }
    .drinks {
        grid-template-columns: repeat(auto-fit, minmax(7.5rem, 25rem));
        grid-auto-rows: 1fr;
        gap: 2.5rem;
        justify-content: center;
    }
}
